@import "tailwindcss";

.custom-quill-editor {
  height: 300px;
  display: flex;
  flex-direction: column;
}

.custom-quill-editor .ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}

.custom-quill-editor .ql-container {
  flex: 1;
  overflow-y: auto;
}
